@model VinoVoyage.ViewModel.UserViewModel

@{
    ViewBag.Title = "AdminHomePage";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
    <div class="topnav">
        <a href="#vinoVoyage" class="left">VINOVOYAGE</a>
        <div class="dropdown">
            <button class="dropbtn" onclick="DropDownFuncTopNav()">
                Hey,@ViewBag.Username
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="TopNavDropdown">
                <a href="@Url.Action("Logout", "Admin")">Logout</a>


            </div>
        </div>
    </div>


    <div class="sidenav">

        <button class="dropdown-btn">
            User manegmenet
            <i class="fa fa-caret-downSide"></i>
        </button>
        <div class="sidedropdown-container">
            <a onclick="showSection('EditRemoveUsers')">Edit/remove users</a>
            <a onclick="showSection('AddUsers')"> Add users</a>

        </div>
        <button class="dropdown-btn">
            Product manegmenet
            <i class="fa fa-caret-downSide"></i>
        </button>
        <div class="sidedropdown-container">
            <a onclick="showSection('EditRemoveProducts')">edit/remove products</a>
            <a onclick="showSection('OrderProducts')">Order products</a>
            <a onclick="showSection('AddNewProduct')">Add new product</a>



        </div>
    </div>


    <!-- Page content -->
    <div class="content">
        <!--style for all tables-->
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
        
        <div id="EditRemoveUsers" style="display:none;">
         
            <table>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Email</th>
                </tr>
                @foreach (VinoVoyage.Models.UserModel us in Model.users)
                {
                    <tr>
                        <td>@us.Username</td>
                        <td>@us.Password</td>
                        <td>@us.Role</td>
                        <td>@us.Email</td>
                        <td>
                            <button class="userEditButton" id="userEditButton@(us.Username)" onclick="editRowUser(this)">Edit</button>
                            <button class="userDeleteButton" id="userDeleteButton@(us.Username)" onclick="deleteRowUser(this)">Delete</button>
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div id="AddUsers" style="display:none;">


            <h1>Add user</h1>
            <p>Please fill in this form to create user.</p>

            @using (Html.BeginForm("AddUser", "Admin", FormMethod.Post, new {onsubmit= "return UservalidateForm()" } ))
            {
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"  required>
                <label for="role">Role</label>
                <select id="role" name="role" required>
                    <option value="customer">Customer</option>
                    <option value="admin">Admin</option>
                </select>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="exmaple@gmail.com" required>
                <style>
                    label, select, button {
                        display: grid;
                    }
                    .error{
                        color:red;
                    }
                </style>
                <button type="submit" >Add user</button>
            }
            <div id="uservalidationErrors"></div>
        </div>


        <div id="EditRemoveProducts" style="display:none;">
            
            <table>
                <tr>
                    <th>Product ID</th>
                    <th>Product name</th>
                    <th>Winery</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Origin</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>New price</th>
                </tr>
                @foreach (VinoVoyage.Models.ProductModel pr in Model.products)
                {
                    <tr>
                        <td>@pr.ProductID</td>
                        <td>@pr.ProductName</td>
                        <td>@pr.Winery</td>
                        <td>@pr.Type</td>
                        <td>@pr.Description  </td>
                        <td>@pr.Origin</td>
                        <td style="@(pr.Amount < 10 ? "background-color: red;" : "")">@pr.Amount</td>
                        <td>@pr.Price</td>
                        <td>@pr.NewPrice</td>
                        <td>
                            <button id="ProductEditButton@(pr.ProductID)"onclick="editRowProduct(this)">Edit</button>
                            <button id="ProductDeleteButton@(pr.ProductID)" onclick="deleteRowProduct(this)">Delete</button>
                        </td>
                    </tr>
                }
            </table>
        </div>


        <div id="OrderProducts" style="display:none;">
            
            <form id="orderform">
                <table>
                    <tr>
                        <th>Product ID</th>
                        <th>Product name</th>
                        <th>Winery</th>
                        <th>Amount</th>
                        <th style="font-size:20px;">quantity</th>
                    </tr>
                    @foreach (VinoVoyage.Models.ProductModel pr in Model.products)
                    {
                        <tr>
                            <td>@pr.ProductID</td>
                            <td>@pr.ProductName</td>
                            <td>@pr.Winery</td>
                            <td style="@(pr.Amount < 10 ? "background-color: red;" : "")">@pr.Amount</td>
                            <td><input type="number" name="orderQuantity[@pr.ProductID]" min="0" value="0"></td>
                        </tr>
                    }
                </table>
                <button style="width:10%" type="button" id="sendorder">Send order</button>
            </form>
        </div>

        <div id="AddNewProduct" style="display:none;">

            <p>Please fill in this form to add new product to VV.</p>
            @using (Html.BeginForm("AddProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" ,onsubmit = "return ProductValidateForm()" }))
            {
                
                <style>
                    label, input, select, option {
                        margin-left: auto;
                        padding: 10px 20px;
                        font-size: 18px;
                        margin: inherit;
                    }

                    .error {
                        color: red;
                    }
                </style>
                <label for="ProductName">Product name:</label>
                <input type="text" id="ProductName" name="ProductName" placeholder="ProductName" required>

                <label for="Winery">Winery:</label>
                <input type="text" id="Winery" name="Winery" placeholder="Winery" required>

                <label for="Type">Type</label>
                <select id="Type" name="Type" required>
                    <option value="White">White</option>
                    <option value="Red">Red</option>
                    <option value="Rose">Rose</option>
                </select>

                <label for="Description">Description:</label>
                <input type="text" id="Description" name="Description" placeholder="write your description here" required>

                <label for="Origin">Origin:</label>
                <select id="Origin" name="Origin" required>
                    <option value="Israel">Israel</option>
                    <option value="France">France</option>
                    <option value="Italy">Italy</option>
                    <option value="Spain">Spain</option>

                </select>

                <label for="Amount">Amount:</label>
                <input type="number" id="Amount" name="Amount" value="1" min="1" required>

                <label for="Price">Price:</label>
                <input type="number" id="Price" name="Price" value="1" min="1" required>

                <label for="NewPrice">NewPrice:</label>
                <input type="number" id="NewPrice" name="NewPrice" value="0" min="0" required>

                <label for="ProductImage">Product Image:</label>
                <input type="file" id="ProductImage" name="ProductImage" required>


                <button type="submit" >Add Product</button>
            }
            <div id="productValidationErrors"></div>
        </div>
    </div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="../UI/JS/ShowDiv.js"></script>
</body>
</html>
