@model IEnumerable<VinoVoyage.Models.ProductModel>


@foreach (var prod in Model)
{
    <div class="prodCard">
        <div class="imageContainer">
            <img src="~/UI/img/wines/@(prod.ProductName)@(prod.ProductID.ToString()).jpg" alt="wine" style="width:100%" class="prodImage" />
            <div class="desctiprionLayer">
                <div class="desctiprionLayerText">@prod.Description</div>
            </div>
        </div>

        <div class="prodDesctiption">
            <h1>@prod.ProductName</h1>
            <div class="originPrice">
                <h2>@prod.Origin</h2>
                @if (prod.NewPrice != 0)
                {
                    
                    <h2 style="text-decoration:line-through">@(prod.Price)₪</h2>
                    <h2>@(prod.NewPrice)₪</h2>
                }
                else
                {
                    <h2>@(prod.Price)₪</h2>
                    
                }
            </div>

            @if (prod.Amount != 0)
            {
                <div class="productButtons" data-product-available="@prod.ProductID">
                    
                    <button class="addWineBtn" onclick="toggleBuynow(@prod.ProductID, @(prod.NewPrice != 0 ? prod.NewPrice : prod.Price))">Buy Now</button>
<button class="addToCart" onclick="addToCart('@prod.ProductID')"><i class="fas fa-cart-plus"></i></button>
                    <button class="addToCart" onclick="addToList('@prod.ProductID')"><i class="fa fa-heart"></i></button>

                </div>
            }
            else
            {
                <div class="productButtons" data-not-in-stock="@prod.ProductName">
                    <div class="outOfStockLayer">
                        <div class="outOfStockText">out of stock</div>
                    </div>
                    <button class="addToCart" onclick="notifymsg()"><i class="fas fa-bell"></i></button>
                </div>

            }
        </div>
    </div>
}