@model VinoVoyage.ViewModel.UserViewModel
@using VinoVoyage.Models

@{
    ViewBag.Title = "CheckoutView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/UI/css/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/UI/JS/CostumerScript.js"></script>
</head>
<body>
    <!-- top navigation bar -->
    <div class="topnav" id="myTopnav">

        <!-- user info nav -->
        <a href="#vinoVoyage"><i class="fa fa-home"></i> VINOVOYAGE</a>
        <div class="aDropdown">
            <a class="dropA"><i class="fa fa-user" aria-hidden="true"></i> @ViewBag.Username</a>
            <div class="dropContent">
                <a href="#link1">profile</a>
                <a href="@Url.Action("Logout", "Customer")">logout</a>
            </div>
        </div>
        <a href="@Url.Action("CustomerHomeView", "Customer")" class="split">Back Shopping <i class="fa fa-glass"></i></a>
    </div>
    <div class="checkoutSideColor">
        <div class="centerCheckout">
            <div class="tableCheckout">
                <div class="cartList">
                    <div class="cartTitle">
                        <div class="titleText">@(Model.user.Username) Shopping Cart</div>
                        <div class="cartTotal">total price: @(Session["cartTotal"])</div>
                        <div class="productButtons">
                            <button class="payment" onclick="togglePaymentPopup()">card</button>
                            <button class="payPalBtn">PayPal</button>
                        </div>

                        <div id="paymentPopup" class="popup">
                            <span onclick="document.getElementById('paymentPopup').style.display='none'" class="close" title="Close Modal">&times;</span>
                            @using (Html.BeginForm("Payment", "Customer", FormMethod.Post, new { @id = "paymentForm" }))
                            {
                                <div class="popup-container">
                                    <div class="popup-col">
                                        <div class="popupTotal">total price: @(Session["cartTotal"])</div>
                                        <div class="adress-info">
                                            <h3>Shipping Address</h3>
                                            <div class="paymentTitles">Enter valid shipping adress</div>
                                            <div class="paymentTitles">Name</div>
                                            <input type="text" class="popup-input" id="username" name="username" placeholder="Full Name" required>
                                            <div class="paymentTitles">street</div>
                                            <input type="text" class="popup-input" id="cstreet" name="cstreet" placeholder="street" required>
                                            <div class="paymentTitles">city</div>
                                            <input type="text" class="popup-input" id="city" name="city" placeholder="city" required>
                                        </div>
                                    </div>
                                    <div class="popup-col">
                                        <div class="payment-info">
                                            <h3>Payment</h3>
                                            <div class="paymentTitles">Accepted Cards</div>
                                            <div class="icon-container">
                                                <i class="fa fa-cc-visa" style="color:navy;"></i>
                                                <i class="fa fa-cc-amex" style="color:blue;"></i>
                                                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                                <i class="fa fa-cc-discover" style="color:orange;"></i>
                                            </div>
                                            <div class="paymentTitles">Credit card number</div>
                                            <input type="text" class="popup-input" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444" required>
                                            <div class="paymentTitles">Exp Date</div>                                         
                                            <div class="dateCode">
                                                <input type="month" class="popup-input" style="text-transform:uppercase;" id="expDate" name="expDate" min="2024-04" onchange="validateMonth(this)" required>
                                                <input type="text" class="popup-inputCVV" style="text-transform:uppercase;" id="cvv" name="cvv" placeholder="CVV" required>
                                                <div id="expDateError" style="display: none;">Please select a month from the current month forward.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" onclick="checkPayment()">continue</button>
                            }
                            <div id="paymentValidationErrors"></div>
                        </div>
                    </div>
                    <div class="cartTable">
                        <style>

                            table {
                                border-collapse: collapse;
                                width: 100%;
                                font-family: Lucida Console;
                                font-weight: 200;
                                font-size: 14px;
                                font-weight: 300;
                                color: black;
                                text-transform: uppercase;
                                overflow-y: auto;
                            }

                            td, th {
                                text-align: center;
                                font-size: 14px;
                                white-space: nowrap;
                                vertical-align: middle;
                                width: 27%;
                            }

                            .cartRow {
                                height: 200px;
                            }

                            td .prodCartImage {
                                width: 60px;
                            }

                            tr:nth-child(even) {
                                background-color: #C9958A;
                            }

                            table button {
                                display: inline-block;
                                width: 13px;
                                height: 13px;
                                background-color: black;
                                color: #f4e1d2;
                                padding: 0 0 0 0;
                                cursor: pointer;
                                font-size: 10px;
                                font-weight: 400;
                            }

                            table h1 {
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                color: black;
                                padding: 0 0 0px 0;
                                font-size: 13px;
                                font-weight: 200;
                                font-family: 'Lucida Console';
                            }

                            .info {
                                white-space: pre-wrap;
                            }

                            .name {
                                
                            }

                            .prodPrice {
                            }

                            .quantityC {
                            }

                            .titleText, .cartTotal {
                                margin: 10px;
                            }
                        </style>
                        <table>
                            <tbody class="cartItem">
                                @foreach (OrderModel order in Model.cart)
                                {
                                    var product = Model.products.FirstOrDefault(p => p.ProductID == order.ProductID);

                                    <tr data-productid="@order.ProductID">
                                        <td></td>
                                        <td>
                                            <img src="~/UI/img/wines/@(product.ProductName)@(product.ProductID.ToString()).jpg" alt="wine" height="150" />
                                        </td>

                                        <td class="info">
                                            <div class="name">@product.ProductName</div>
                                            @if (product.NewPrice != 0)
                                            {
                                                <div class="prodPrice">@(product.NewPrice) ₪</div>
                                            }
                                            else
                                            {
                                                <div class="prodPrice">@(product.Price) ₪</div>
                                            }
                                            <div class="quantityC">@order.Quantity</div>
                                        </td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

