@model VinoVoyage.ViewModel.UserViewModel
@using VinoVoyage.Models

@{
    ViewBag.Title = "CustomerHomeView";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <!-- top navigation bar -->
    <div class="topnav">
        <a href="#vinoVoyage" class="left"><i class="fa fa-home"></i> VINOVOYAGE</a>
        @*<a href="#user"><i class="fa fa-user" aria-hidden="true"></i> @ViewBag.Username </a>*@
        <div class="dropdown">
            <button class="dropbtn"><i class="fa fa-user" aria-hidden="true"></i> @ViewBag.Username</button>
            <div class="dropdown-content">
                <a href="#link1">profile</a>
                <a href="@Url.Action("Logout", "Customer")">logout</a>
            </div>
        </div>
        <a href="#wines"><i class="fa fa-glass"></i> WINES</a>
        <a href="#cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
        <a href="#wishlist"><i class="fa fa-heart"></i></a>
        <input type="text" placeholder="SEARCH...">
    </div>
    <!-- side navigation bar -->
    <div class="tab">
        <button class="tablinks" onclick="openWindow(event, 'Whites')">White</button>
        <button class="tablinks" onclick="openWindow(event, 'Reds')">Red</button>
        <button class="tablinks" onclick="openWindow(event, 'Roses')">Rose</button>
        <button class="tablinks" onclick="openWindow(event, 'Specials')">Specials</button>
    </div>
    <div id="Whites" class="tabcontent">
        <div class="prodGrid">
            @foreach (ProductModel prod in Model.products)
            {
                <div class="prodRow">
                    <div class="prodCol">
                        <div class="prodCard">
                            <img src="~/UI/img/products/@(prod.ProductName).jpg" alt="wine" style="width:100%" />
                        <div class="prodDesctiption">
                            <h1>@prod.ProductName</h1>
                            <h2>@prod.Origin</h2>
                            <p>@prod.Description</p>
                            <div class="productButtons">
                                <p><button class="addWineBtn">Buy Now</button></p>
                                <p><button class="addWineBtn"><i class="fas fa-cart-plus"></i></button></p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            }
        </div>
    </div>
    <div id="Reds" class="tabcontent">
        <h1>reds</h1>
    </div>
    <div id="Roses" class="tabcontent">
        <h1>Roses</h1>
    </div>
    <div id="Specials" class="tabcontent">
        <h1> Specials </h1>
    </div> 
    <script>
        
    </script>
    <script>
        function openWindow(evt, wineName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(wineName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
  

    <!-- Page content -->
    <div class="content">
        <div id="addProducts" style="display:none;">
            <!-- Content for adding products -->
            <p>Add products here...</p>
        </div>
        <div id="removeProducts" style="display:none;">
            <!-- Content for removing products -->
            <p>Remove products here...</p>
        </div>
    </div>



    <script src="../UI/JS/ShowDiv.js"></script>

</body>
</html>